body {
    font-family: 'Coda Caption', sans-serif;
    background-color: cadetblue;
}

header{
    text-align: center;
    background-color: green;
}

h3 {
    font-size: medium;
}

nav {
    background-color: greenyellow;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin-right: 5%;
    display: flex;
    justify-content: space-evenly;
}

li {
    flex-direction: row;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
}

section {
   display: inline;
}